<!-- Футер -->
<footer class="footer text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h5 class="mb-3">
                    <img src="/images/titan-logo.png" alt="Ragnarok Online Logo" class="me-2" style="height: 30px;">
                </h5>
                <p>Официальный русскоязычный сервер • 2025</p>
                <p>Погрузитесь в мир Midgard и станьте частью легенды!</p>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <h5>Игра</h5>
                <ul class="list-unstyled">
                    <li><a href="/download" class="text-light text-decoration-none">Скачать</a></li>
                    <li><a href="/server-info" class="text-light text-decoration-none">О сервере</a></li>
                    <li><a href="/classes" class="text-light text-decoration-none">Классы</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Форум</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <h5>Поддержка</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Правила</a></li>
                    <li><a href="#" class="text-light text-decoration-none">FAQ</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Контакты</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <h5>Сообщество</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Discord</a></li>
                    <li><a href="#" class="text-light text-decoration-none">VK</a></li>
                    <li><a href="#" class="text-light text-decoration-none">YouTube</a></li>
                </ul>
            </div>
        </div>
        <hr class="mt-4">
        <p class="text-center mb-0">&copy; 2025 Ragnarok Online. Все права защищены.</p>
    </div>
</footer>